<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/add.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		
        <link href="/css/add.css" rel="stylesheet">
    <title>Add Author</title>
    <link rel="icon" href="./assets/icon.png" type="image/x-icon">

</head>

<body>

        <!-- <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta http-equiv="content-type" content="text/html; charset=UTF-8">
                <meta charset="utf-8">
                <title>Add Author</title>
                <meta name="generator" content="Bootply" />
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                <link href="/css/bootstrap.min.css" rel="stylesheet">
                <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        
                <link href="/css/add.css" rel="stylesheet">
            </head>
            <body> -->





<!-- 
    <header>
        <nav>
            <div class="header">
                <ul class="nav__links">
                    <li><a href="#" class="iconimg">Library Application</a></li>
                </ul>
            </div>
        </nav>
    </header> -->


    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
            <div class="container">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
              </div>
              <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <%for(i=0;i<nav.length;i++){%>
                  <li>
                    <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
                  </li>
                  <%}%>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                    <ul class="dropdown-menu" style="padding:12px;">
                      <form class="form-inline">
                        <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                      </form>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
</header>


    
        <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-3 col-sm-2">

              </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                  <h1 style="margin-left:26%;">Add Author</h1>
                    <form>
                        <div class="mb-3">
    
                          <input type="email" class="form-control" id="name" aria-describedby="emailHelp" size="45" placeholder="Author's Name">
                          
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" id="exampleInputPassword1"size="45" placeholder="Bestseller">
                        </div>
                        <div class="mb-3">
                            <input type="file" id="avatar" name="avatar"accept="image/png, image/jpeg">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Few Words about the author"></textarea>
                          </div>
                        <button type="submit" class="my-3 mx-5 btn btn-outline-dark">Submit</button>
                      </form>

                </div>
                  <div class="col-lg-4 col-md-3 col-sm-2">

                    </div>
            </div>
        </div>

    <footer class="bg-light text-center text-lg-start footer">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #87A9B3">
            © 2021 Copyright:
            <a class="text-dark" href="https://github.com/Meera27">Meera M Nair</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="js/index.js"></script>
</body>

</html>